{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "AZURE_TENANT_ID": "REPLACE_WITH_TENANT_ID",
    "AZURE_CLIENT_ID": "REPLACE_WITH_CLIENT_ID",
    "AZURE_CLIENT_SECRET": "REPLACE_WITH_CLIENT_SECRET",

    "TARGET_DRIVE_ID": "REPLACE_WITH_TARGET_DRIVE_ID",
    "TARGET_FOLDER_ID": "REPLACE_WITH_TARGET_FOLDER_ID",

    "APPINSIGHTS_INSTRUMENTATIONKEY": "",
    "ALLOW_RECORDINGS": "false"
  }
}
